*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    transition: all .5s ease;
    /* border:1px solid blue; */
}
:root{
    --colorprimary : #ed563b;
    --ff : "Poppins",sans-serif;
    --colorsecondary : #7a7a7a;
    --headercolor : #232d39;
    scroll-behavior: smooth;
}
.orange{color:var(--colorprimary)}
::selection{
    color:white;
    background-color: var(--colorprimary);
}
#bg-video{
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    z-index: 0;
}

.video-overlay{
   background: #232d39ba;
   position: absolute;
   top:0;
   left:0;
   bottom:7px;
   width: 100%;
}
.video-overlay .centerMessage{
    text-transform: uppercase;
    text-align: center;
    color:white;
    margin:auto;
    position: absolute;
    top:50%;
    left:10%;
    display: block;
    font-weight: bold;
    
}
.centerMessage p:first-child{
    font-size: max(16px,3vw);
}
.centerMessage p:nth-child(2){
    font-size: max(35px,8vw);
}
.cta-btn{
    background-color: var(--colorprimary);
    color:white;
    padding:10px;
    border:none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}
header nav{
    padding: 15px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    position: fixed;
    background: #95949455;
    width: 100%;
}
ul#secondNav{
    display: flex;
    position: absolute;
    top:80px;
    right:0;
    transform: translateX(300px);
}

header .logo{
    font-size: 2rem;
    font-weight: bold;
}
header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap:10px;
    font-size: 14px;
}
header li{
    padding:10px
}
header li a:hover{
    color:var(--colorprimary)
}
header a{
    text-decoration: none;
    color:white;
}
header li:last-child{
    background-color: var(--colorprimary);
    color:white;
}
header li:last-child:hover{
    background-color: #eb715b;
}

/*========== section features ===========*/
.section{
    padding: 100px 80px;
}
.section .title{
    text-align: center;
    display: block;
    margin:auto;
    margin-bottom: 45px;
}
.section .title div{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
   
}
.section .title p{
    color:var(--colorsecondary);
    font-size: 15px;
}
.section .features{
    display: flex;
    flex-wrap: wrap;
}
.section .feature{
    display: flex;
    gap:15px;
    width: 50%;
    margin-bottom: 50px;
}
.section .feature .right{
    display: flex;
    flex-direction: column;
    gap:4px;
    width: 100%;
}
.section .feature .right p:first-child{
    font-weight: bold;
    color:var(--headercolor);
    font-size: 20px;

}
.section .feature .right p:nth-child(2){
    color:var(--colorsecondary);
    font-size: 15px;
}
.section .feature a{
    text-transform: uppercase;
    color:var(--colorprimary);
    text-decoration: none;
    font-size: 14px;
}

/*======== section call to action ==========*/
#call-to-action{
    background-image: url("images/cta-bg.jpg");
    text-align: center;
    color:white;
}
#call-to-action h1{
    font-size: 2.5em;
    text-transform: uppercase;
}
#call-to-action p{
    margin:8px;
}

/*======== section classes ==========*/
section.content{
    display: flex;
    gap:50px
}
section.content .class-modules{
    flex:40%;
}
section.content .module-content{
    flex:55%;
}
section.content .module{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:25px;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
section.content .module a{
    text-decoration: none;
    color:var(--headercolor);
    font-size: 18px;
    font-weight: bold;
    margin-left: 40px;
}
section.content .module a.active{ color:#ed563b;}
section.content .class-modules button{
    padding:15px;
    background-color: #ed563b;
    color:white;
    border:none;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
}
section.content .module-content img{
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}
section.content .module-content h1{
    font-size: 23px;
    margin: 10px 0px;
}
section.content .module-content p{
    font-size: 14px;
    color:var(--colorsecondary);
    margin-bottom: 20px;
}

/*======== section classes schedules ==========*/
section#sch-classes{
    background-image: url("images/schedule-bg.jpg");
    text-align: center;
    color:white;
}
section#sch-classes .date a{
    text-decoration: none;
    color:white;
}
section#sch-classes .date a.active{
    color:#ed563b;
}
section#sch-classes table{
    margin:auto;
    margin-top: 40px;
    border:1px solid white;
    border-collapse:collaspe;
}
section#sch-classes table tbody tr{
    border-bottom:1px solid white;
 
}
section#sch-classes table tbody tr td{
    border-right:1px solid white;
    height: 100px;
}

/*======== section expert trainer ==========*/
section#expert-trainer .cards{
    display: flex;
    justify-content: space-between;
    gap:30px;
    margin-top: 90px;
}
section#expert-trainer .cards .card{
    padding:25px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    text-align: left;
    display: block;
    margin: auto;
}
section#expert-trainer .card .subtitle{
    color:#ed563b;
    font-size: 13px;
}

section#expert-trainer .card .r-title{
    color:#232d39;
    font-size: 19px;
    font-weight: bold;
    text-align: left;
    margin:15px 0px;
}
section#expert-trainer .card .content{
    color:var(--colorsecondary);
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
}
section#expert-trainer .card .social{
    display: flex;
    justify-content: space-between;
    width: 35%;
}

/*========= section contact ==========*/
section#contact .blocs{
    display: flex;
}
section#contact .blocs .blocA, section#contact .blocs .blocB{
    flex:50%;
}
section#contact .blocs .blocA{
    background-color: #7a7a7a;
    background-image: url("images/error-page.JPG");
    background-position: center;
    width: 200px;
    /* height: 100%; */
    object-fit: cover;
}
section#contact .blocs .blocB{
    background-image: url("images/contact-bg.jpg");
    padding:75px;
}
section#contact form{
    background-color: white;
    border-radius: 5px;
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:25px;
}
.input{
    border:1px solid #ccc;
    outline:0;
    width: 100%;
    padding:10px;
}
.flex{
    display: flex;
    gap:20px;
}
footer{
    text-align: center;
    padding:35px;
    font-size: 13px;
}
/* ************************ */

header #btn-responsive{
    display: none;
}
/*========== Make it responsive ========*/
@media (max-width:768px) {
  /* to make responsive 
   -navbar
   -hero section
   -img
   -flex container
     */

     /* -navbar  */
     header nav{
        padding: 15px 30px;
     }
     header .logo{
        font-size: 1.5rem;
     }
     header nav ul#firstnav{
        display: none;
     }
     header #btn-responsive{
        display: block;
    }
    .section .feature{
        width: 100%;
    }
    section.content{
        flex-direction: column;
    }
   
}

@media (min-width:768px) {
    header .logo{font-size: 1.8rem;}
    header nav{
        padding: 15px 30px;
     }
}
@media (max-width:400px) {
    /* .section .feature{
        flex-direction: column;
    } */
    section{
        padding: 100px 20px !important;
    }
    section#contact .blocs .blocA {
        display: none;
    }
    section#contact .blocs .blocB{
        padding: 15px;
    }
}
